* {
  margin: 0;
}
h1 {
  text-align: center;
  color: blue;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
input {
  width: 50%;
  margin: auto;
  margin-bottom: 0.5rem;
}
button {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  background-color: blue;
  color: white;
}
.list {
  margin: auto;
  margin-top: 2rem;
  background-color: cyan;
  width: 80%;
}
.todo {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  word-wrap: break-word;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
span {
  background-color: red;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid black;
}
ol{
  border: 1px solid black;
}