* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  margin: 1rem;
  color: rgb(88, 88, 172);
}
p {
  text-align: center;
  color: red;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
input {
  width: 50%;
  padding: 0.6rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  margin: auto;
  margin-bottom: 0.5rem;
  background-color: rgba(204, 194, 194, 0.637);
}
button {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: 0.1rem solid rgb(88, 88, 172);
  border-radius: 1rem;
  outline: none;
  background-color: rgb(88, 88, 172);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: indigo;
}
.list {
  margin: auto;
  margin-top: 2rem;
  background-color: rgba(204, 194, 194, 0.637);

  width: 80%;
}
.todo {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  word-wrap: break-word;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
span {
  background-color: red;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  cursor: pointer;
}
span:hover {
  background-color: rgb(231, 18, 18);
}
ol {
  border: 1px solid black;
}
